<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296558936439-3q3n1k2pqerhgrdm672h18ios6b52rr9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296558936439-3q3n1k2pqerhgrdm672h18ios6b52rr9</string>
	<key>API_KEY</key>
	<string>AIzaSyBv_wQugTgUoLuKYKEs2cL_um6PPyhSVtI</string>
	<key>GCM_SENDER_ID</key>
	<string>296558936439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brainVoice</string>
	<key>PROJECT_ID</key>
	<string>brain-voice-379613</string>
	<key>STORAGE_BUCKET</key>
	<string>brain-voice-379613.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296558936439:ios:ab2998a4e6034104f0e172</string>
</dict>
</plist>